#!/bin/bash
echo start
echo run ros....
echo start
source /opt/ros/noetic/setup.bash
source /home/mvibot/catkin_ws/devel/setup.bash
# name and mode for robot
name_seri="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/name_seri)"
mode="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/mode)"
ip_master="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/ip_master)"
is_master="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/is_master)"
robot_type_connect="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/robot_type_connect)"
# lan port control
lan_port="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/lan_port)"
lan_type="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/lan_type)"
lan_ipv4="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/lan_ipv4)"
lan_ipv4_dns="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/lan_ipv4_dns)"
lan_ipv4_gateway="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/lan_ipv4_gateway)"
sudo nmcli connection delete mvibot_network
sudo nmcli connection add ifname $lan_port con-name mvibot_network type ethernet connection.autoconnect yes
if [[ "$lan_type" = "auto" ]]
then
    sudo nmcli connection up mvibot_network
else
    sudo nmcli connection modify  mvibot_network ipv4.method manual ipv4.addresses $lan_ipv4/24
    sudo nmcli connection modify  mvibot_network ipv4.gateway $lan_ipv4_gateway ipv4.dns $lan_ipv4_dns
    sudo nmcli connection up mvibot_network
fi
# wifi card control
wifi_port="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/wifi_port)"
wifi_type="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/wifi_type)"
wifi_ssid="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/wifi_ssid)"
wifi_password="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/wifi_password)"
wifi_ipv4="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/wifi_ipv4)"
wifi_ipv4_dns="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/wifi_ipv4_dns)"
wifi_ipv4_gateway="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/wifi_ipv4_gateway)"
sudo nmcli connection delete mvibot_hotspot 
sudo nmcli connection delete mvibot_cardwifi
if [[ "$wifi_type" = "hots_pot" ]]
then
   echo hotspot mode 
   sudo nmcli connection delete mvibot_hotspot 
   sudo nmcli connection add type wifi ifname $wifi_port con-name mvibot_hotspot  ssid "$name_seri-hostpot"
   sudo nmcli connection modify mvibot_hotspot  802-11-wireless.mode ap 802-11-wireless.band bg ipv4.method shared
   sudo nmcli connection modify mvibot_hotspot wifi-sec.key-mgmt wpa-psk
   sudo nmcli connection modify mvibot_hotspot wifi-sec.psk "$name_seri@"
   sudo nmcli connection up mvibot_hotspot
else
   echo wireless mode
   sudo nmcli connection add ifname $wifi_port con-name mvibot_cardwifi type wifi ssid $wifi_ssid connection.autoconnect yes
   if [[ "$wifi_password" = "" ]]
   then
        echo wifi with security so not need modify security
   else
        sudo nmcli connection modify mvibot_cardwifi 802-11-wireless-security.key-mgmt WPA-PSK 802-11-wireless-security.psk $wifi_password
   fi
   if [[ "$wifi_type" = "auto" ]]
   then
   	sudo nmcli connection up mvibot_cardwifi
   else
        sudo nmcli connection modify mvibot_cardwifi ipv4.method manual ipv4.addresses $wifi_ipv4/24 
        sudo nmcli connection modify mvibot_cardwifi ipv4.gateway $wifi_ipv4_gateway ipv4.dns $wifi_ipv4_dns
        sudo nmcli connection up mvibot_cardwifi
   fi
fi
# start control ros
if [[ "$robot_type_connect" = "wifi" ]]
then
   echo robot_type_connect wifi
   #
   ip_check="$(ip -4 addr show $wifi_port | grep -oP '(?<=inet\s)\d+(\.\d+){3}')"
   while [[ "$ip_check" = "" ]]
   do
	sudo nmcli connection up mvibot_network
	ip_check="$(ip -4 addr show $wifi_port | grep -oP '(?<=inet\s)\d+(\.\d+){3}')"
   done
   #
   if [[ "$is_master" = "yes" ]]
   then
	echo robot is master
	ip_master="$(ip -4 addr show $wifi_port | grep -oP '(?<=inet\s)\d+(\.\d+){3}')"
	ip_node="$(ip -4 addr show $wifi_port | grep -oP '(?<=inet\s)\d+(\.\d+){3}')"
   else
	echo robot is not master so kip....
	ip_master="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/ip_master)"
	ip_node="$(ip -4 addr show $wifi_port | grep -oP '(?<=inet\s)\d+(\.\d+){3}')"
   fi
else
   echo robot_type_connect lan
   #
   ip_check="$(ip -4 addr show $lan_port | grep -oP '(?<=inet\s)\d+(\.\d+){3}')"
   while [[ "$ip_check" = "" ]]
   do
	sudo nmcli connection up mvibot_network
	ip_check="$(ip -4 addr show $lan_port | grep -oP '(?<=inet\s)\d+(\.\d+){3}')"
   done   
   #
   if [[ "$is_master" = "yes" ]]
   then
	echo robot is master
	ip_master="$(ip -4 addr show $lan_port | grep -oP '(?<=inet\s)\d+(\.\d+){3}')"
	ip_node="$(ip -4 addr show $lan_port | grep -oP '(?<=inet\s)\d+(\.\d+){3}')"
   else
	echo robot is not master so kip....
	ip_master="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/ip_master)"
	ip_node="$(ip -4 addr show $lan_port | grep -oP '(?<=inet\s)\d+(\.\d+){3}')"
   fi
fi
export ROS_MASTER_URI="http://$ip_master:11311"
export ROS_HOSTNAME=$ip_node
if [[ "$is_master" = "yes" ]]
then
  # run web interface
  cd /home/mvibot/interface_mvibot_v2/ && php artisan serve --host $ip_node:8000 &
  # run ros
  roscore -p 11311 &
  # run ros web socket
  roslaunch mvibot_v4 websock.launch --wait  &
  # run map_server
  map_name="$(</home/mvibot/catkin_ws/src/mvibot_v4/config/map)"
  map_path="/home/mvibot/interface_mvibot_v2/maps/$map_name.yaml"
  roslaunch mvibot_v4 mvibot_mapserver.launch map_file:="$map_path" --wait & 
  #
  roslaunch mvibot_v4 mvibot_tran_ipmaster.launch mode:="$mode" name_seri:="$name_seri" --wait &
else
  roslaunch mvibot_v4 mvibot_tran_ipmaster.launch mode:="$mode" name_seri:="$name_seri" --wait &
fi
while :
do
  echo "An Infinite loop"
  # We can press Ctrl + C to exit the script
  sleep 1
done
exit 0
