#!/bin/bash
echo start
echo run ros....
echo start
source /opt/ros/noetic/setup.bash
source /home/mvibot/catkin_ws/devel/setup.bash
#
name_seri="$(</home/mvibot/catkin_ws/src/mvibot/config/name_seri)"
ip_master="$(</home/mvibot/catkin_ws/src/mvibot/config/ip_master)"
ip_node="$(</home/mvibot/catkin_ws/src/mvibot/config/ip_node)"
#
serial_camera1="$(</home/mvibot/catkin_ws/src/mvibot/config/serial_camera1)"
serial_camera2="$(</home/mvibot/catkin_ws/src/mvibot/config/serial_camera2)"
#
export ROS_MASTER_URI="http://$ip_master:11311"
export ROS_HOSTNAME=$ip_node
# wifi card control
port_wifi="wlo1"
wifi_type="$(</home/mvibot/catkin_ws/src/mvibot/config/wifi_type)"
wifi_ssid="$(</home/mvibot/catkin_ws/src/mvibot/config/wifi_ssid)"
wifi_password="$(</home/mvibot/catkin_ws/src/mvibot/config/wifi_password)"
if [[ "$wifi_type" = "host_post" ]]
then
	 echo hotspot mode
else
	 echo wireless mode
   sudo nmcli connection delete mvibot_cardwifi
   
   sudo nmcli connection add ifname $port_wifi con-name mvibot_cardwifi type wifi ssid wifi_ssid 802-11-wireless-security.key-mgmt WPA-PSK 
fi
# wifi card control

#echo 1 | sudo -S nmcli connection delete mvibot_hostpost
#echo 1 | sudo -S nmcli device wifi hotspot ifname $port_wifi con-name mvibot_hostpost ssid MB23_916b_cardwifi password MB23_916b@


# creat mvibot network
port_ethernet="enp0s31f6"
echo 1 | sudo -S nmcli connection delete mvibot_network
echo 1 | sudo -S nmcli connection add ifname $port_ethernet con-name mvibot_network ipv4.method manual ipv4.addresses $ip_node/8 ipv4.gateway $ip_master type ethernet 
echo 1 | sudo -S nmcli connection up mvibot_network
#
ip_now=""
#echo a
echo "check pc connect to" $ip_node ...
while [[ "$ip_now" = "$ip_node" ]]
do
	echo connecting....
	ip_now="$(ip -4 addr show $port_ethernet | grep -oP '(?<=inet\s)\d+(\.\d+){3}')"
	if [[ "$ip_now" = "$ip_node" ]]; then
    		echo "connected"
		break
	else
    		echo "reconnect..."
		sleep 1
		echo 1 | sudo -S nmcli connection up mvibot_network
	fi
done
mode="$(</home/mvibot/catkin_ws/src/mvibot/config/mode)"
# check if this robot is master
echo  $ip_node
echo  $ip_master
if [[ "$ip_master" = "$ip_node" ]]
then
  echo "This robot is master"
  # run web interface
  #cd /home/mvibot/Desktop/web_navigation/ && php -S $ip_node:8000 &
  cd /home/mvibot/interface_mvibot_v2/ && php artisan serve --host $ip_node:8001 &
  # run ros
  roscore &
  # run ros web socket
  roslaunch mvibot websock.launch  --wait  &
  #rosrun mvibot mvibot_serverv2 & 
  if [[ "$mode" = "navigation" ]]
  then
	echo "mode is navigation so run map select...."
	map_name="$(</home/mvibot/catkin_ws/src/mvibot/config/map)"
	map_path="/home/mvibot/interface_mvibot_v2/maps/$map_name.yaml"
	roslaunch mvibot mvibot_mapserver.launch map_file:="$map_path" --wait & 
	rosrun mvibot mvibot_serverv2 & 
  else
	echo "mode is mapping so skip "
  fi
  #rosrun map_server map_server /home/mvibot/map/map27.yaml & 
  roslaunch mvibot mvibot_firmware.launch mode:="$mode" serial_camera1:="$serial_camera1" serial_camera2:="$serial_camera2" name_seri:="$name_seri" --wait 
else
  echo "This robot is node"
  # run ros
  roslaunch mvibot mvibot_firmware.launch mode:="$mode" serial_camera1:="$serial_camera1" serial_camera2:="$serial_camera2" name_seri:="$name_seri" --wait 
fi
while :
do
  echo "An Infinite loop"
  # We can press Ctrl + C to exit the script
  sleep 1
done
exit 0
