<launch>
      <arg name="mvibot_seri" default=""/>
	  <node name="mvibot_slam"  pkg="gmapping"  type="slam_gmapping" output="screen"  respawn="true">
                <param name="mvibot_seri" value="$(arg mvibot_seri)"/>
				<rosparam subst_value="True" command="load" file="$(find mvibot)/param/gmapping.yaml"/>
				<remap from="scan" to="/$(arg mvibot_seri)/laser/scan"/>
				<remap from="map" to="/$(arg mvibot_seri)/map"/>
      </node>
</launch>
