<launch>
	<arg name="name_seri" default=""/>
	<arg name="mode" default=""/>
	<!-- -->
	
	<node name="mvibot_common_softv2"  pkg="mvibot_v4"  type="mvibot_common_softv2" output="screen" respawn="true">
                <param name="mvibot_seri" value="$(arg name_seri)"/>
		<param name="mode" value="$(arg mode)"/>
        </node>

	<node name="mvibot_marker"  pkg="mvibot_v4"  type="mvibot_marker" output="screen" respawn="true">
		<param name="mvibot_seri" value="$(arg name_seri)"/>
	</node>  

	
	<!-- mvibot_robot_localization-->
                <include file="$(find mvibot_v4)/launch/mvibot_robot_localization.launch">
                        <arg name="mvibot_seri" value="$(arg name_seri)"/>
                </include>
	

        <!-- filter scan-->
        <include file="$(find mvibot_v4)/launch/mvibot_scan_filter.launch">
                <arg name="mvibot_seri" value="$(arg name_seri)"/>
        </include>
  

	<!-- mvibot slam-->
        <include file="$(find mvibot_v4)/launch/mvibot_slam_toolbox.launch" if="$(eval arg('mode') == 'slam')">
                <arg name="mvibot_seri" value="$(arg name_seri)"/>
        </include>

        <!-- mvibot navigation-->
        <include file="$(find mvibot_v4)/launch/mvibot_amcl.launch" if="$(eval arg('mode') == 'navigation')">
                <arg name="mvibot_seri" value="$(arg name_seri)"/>
        </include>

        <include file="$(find mvibot_v4)/launch/mvibot_movebase.launch" if="$(eval arg('mode') == 'navigation')">
                <arg name="mvibot_seri" value="$(arg name_seri)"/>
        </include>


</launch>
